/* Container - parte principal do projeto */
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* Cor dos Titulos h2 da class = menu */
#m-title{
    color: red;
}
/* Menu */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
}

/* Painel de interacao */
.panel{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    border: 2px solid #ff0000;
}
.panel-row .square{
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    background-color: #90ee90;
}

.panel-row .enemy {
    background-color: red;
}